[Unit]
Description=Cloudflare DDNS Service
After=network.target

[Service]
WorkingDirectory=/home/serverkb/DynamicDNS
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
Environment=NODE_ENV=production

# Si usas nvm o node instalado por el usuario, añade:
# Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
